body {
    background-color: #0B1D26;
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #fff;
}
.container {
    max-width: 1462px;
    margin: 0 auto;
}

h2.section-title {
    font-family: 'Chronicle Display Roman';
    text-align: left;
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
    margin-bottom: 27px;
}
span.for-title {
    padding-left: 96px;
    font-family: 'Gilroy';
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    color: #FBD784;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 27px;
}
span.for-title::before {
    position: absolute;
    display: block;
    content: '';
    width: 72px;
    height: 2px;
    background-color: #FBD784;
    top: 50%;
}
.header {
    background: url('../img/background-5.png'), url('../img/background-4.png'), url('../img/background-2.png'), url('../img/background-3.png'), url('../img/background-1.png');
    /* background: url(../img/background-4.png), url('../img/background-3.png'), url('../img/background-2.png'), url('../img/background-1.png'); */
    background-repeat: no-repeat;
    background-position: bottom, bottom, top, bottom, top;
    background-position-x: center, center, center, center, right;
    height: 1694px;
    padding: 0 80px;
    padding-top: 64px;
}
.header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 198px;
}
ul.main-nav {
    display: flex;
    position: relative;
    top: 10px;
}
ul.main-nav li.main-nav-item:nth-child(2) {
    margin: 0 40px;
}
ul.main-nav li.main-nav-item {
    padding-bottom: 10px;
    border: 2px solid transparent;
}
ul.main-nav li.main-nav-item:hover {
    border-bottom: 2px solid #fff;
}
ul.main-nav li.main-nav-item a {
    color: #fff;
}
a.account {
    display: flex;
    color: #fff;
    align-items: center;
}
a.account img {
    margin-right: 8px;
} 
.header-middle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.header-social {
    position: relative;
    width: 24px;
    height: 173px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-social p {
    transform: rotate(90deg);
    white-space: nowrap;
    margin-bottom: 50px;
}
img.header-slider {
    cursor: unset;
}
.header-text {
    max-width: 950px;
}
.header-text h1 {
    font-family: 'Chronicle Display Roman';
    text-align: left;
    font-size: 88px;
    font-weight: 600;
    line-height: 100px;
    margin: 33px 0;
}
.header-text p {
    line-height: 21px;
}
.header-text p i {
    margin-left: 10px;
}
.level-1 {
    position: relative;
    top: -440px;
    background-image: url('../img/level-back-1.png');
    background-repeat: no-repeat;
    background-position-y: 70px;
    height: 240px;
    margin-bottom: 200px;
}
.level-1-content, .level-2-content, .level-3-content {
    display: flex;
    justify-content: space-between;
}
.level-1-text {
    max-width: 732px;
    padding-left: 150px;
    padding-top: 141px;
}
.level-2 {
    margin-bottom: 200px;
    background-image: url('../img/level-back-2.png');
    background-repeat: no-repeat;
    background-position-x: 57%;
    background-position-y: 60px;
}
.level-2-text {
    max-width: 632px;
    padding-top: 141px;
}



.level-1-text p, .level-2-text p, .level-3-text p {
    margin-bottom: 27px;
    
}
.level-1-text a, .level-2-text a, .level-3-text a {
    color: #FBD784;
    display: flex;
    align-items: center;
}
.level-1-text a i, .level-2-text a i, .level-3-text a i {
    margin-left: 16px;
}